<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .jumbotron {
      background-image: url("https://homesppc-images.s3.us-east-2.amazonaws.com/simply.jpg");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 1rem;
      position: relative;
}
  </style>
  <title>Commission Plan</title>
  <%- include('_header') %>
    <h1 class="text-center" style="color:#3E3F3C;">Commission Plan</h1>
  <% articles.forEach(article => { %>
    <% if(article.page === "commission"){ %>
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title"><%= article.title %></h4>
      <div class="card-subtitle text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src= "<%= article.description %>" allowfullscreen></iframe>
      </div>
      
      
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= article.id %>" aria-expanded="true" aria-controls="collapseOne">
                Video Description
              </button>
            </h2>
          </div>
      
          <div id="collapse<%= article.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= article.markdown %>
            </div>
          </div>
        </div>
     
    </div>

  </div>
  
      <% } %>
<% }) %>
<%- include('_footer') %>